<!DOCTYPE html>
<html lang="tr">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author">
  <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

  <title>DTM TELEKOM</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/css/bootstrap.min.css" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="../static/css/fontawesome.css">
  <link rel="stylesheet" href="../static/css/dtm.css">
  <link rel="stylesheet" href="../static/css/owl.css">
  <link rel="stylesheet" href="../static/css/lightbox.css">
  <!--

-->
</head>

<body>

  <!-- Sub Header -->


  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="/" class="logo">
              <img style="max-height: 75px;" src="../static/images/dtm-logo.png">
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li class="scroll-to-section"><a href="#top" class="active">ana sayfa</a></li>
              <li class="scroll-to-section"><a href="#apply">LOREM</a></li>
              <li class="has-sub">
                <a href="javascript:void(0)">Ürünler</a>
                <ul class="sub-menu">
                  <li><a href="/products">ürün kataloğu</a></li>
                  <li><a href="/product_details">ürün detayları</a></li>
                </ul>
              </li>
              <li class="scroll-to-section"><a href="#courses">referanslarımız</a></li>
              <li class="scroll-to-section"><a href="#contact">İletişim</a></li>
            </ul>
            <a class='menu-trigger'>
              <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <!-- ***** Main Banner Area Start ***** -->
  <section class="section main-banner" id="top" data-section="section1">
    <!-- bu kırmızı-->
    <video autoplay muted loop id="bg-video">
      <source src="../static/images/video.mp4" type="video/mp4" />
    </video>

    <div class="video-overlay header-text">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="caption">
              <h6>Hakkımızda</h6>
              <h2>DTM Telekom</h2>
              <p>1977 yılında İstanbul'da faaliyetlerine başlayan DTM Elektroteknik A.Ş kurulduğu günden bu yana her gün
                ileri
                attığı adımlarla iç ve dış piyasada Telekom ürünleri üretiminde önder konumuna erişmiş güvenilirliğimiz
                ve
                kalitesi sayesinde kullanıcılarımıza ve bayilerimize kalitemizi ispatlayarak önemli bir konumuna
                gelmiştir.<br><br>
                DTM Elektroteknik olarak 1977 den başlayarak günümüze kadar tüm sektörlerimizde öncelikle Dtm Telekom
                olarak her zaman ürünlerimizi geliştirip pazardaki ihtiyaçlara göre hareket ederek piyasanın ihtiyacı
                olan
                gereksinimleri karşılamaya çalışmışızdır. <br><br>
                DTM Telekom'un hizmet anlayışı yalnızca malın satışıyla sınırlı kalmayıp proje ve uygulama aşamalarını
                da
                kapsamakla beraber aynı zamanda diğer önemli bir nokta DTM Telekom'un kişiye ya da kuruma özel servis
                desteği vererek kullanıcılarını gereksinimlerine en uygun yanıtları verebiliyor ve satın aldıkları
                ürünlerden
                maksimum yararlanabilmelerini sağlıyor olmasıdır.</p>
              <div class="main-button-red">
                <div class="scroll-to-section"><a href="#contact">Bize Ulaşın</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Main Banner Area End ***** -->

  <section class="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="owl-service-item owl-carousel">

            <div class="item">
              <div class="icon">
                <img src="../static/images/service-icon-01.png" alt="">
              </div>
              <div class="down-content">
                <h4>Lorem Ipsum</h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex molestias, dolorum obcaecati.</p>
              </div>
            </div>

            <div class="item">
              <div class="icon">
                <img src="../static/images/service-icon-02.png" alt="">
              </div>
              <div class="down-content">
                <h4>Lorem Ipsum</h4>
                <p>Suspendisse tempor mauris a sem elementum bibendum. Praesent facilisis massa non vestibulum.</p>
              </div>
            </div>

            <div class="item">
              <div class="icon">
                <img src="../static/images/service-icon-03.png" alt="">
              </div>
              <div class="down-content">
                <h4>Lorem Ipsum</h4>
                <p>Suspendisse tempor mauris a sem elementum bibendum. Praesent facilisis massa non vestibulum.</p>
              </div>
            </div>

            <div class="item">
              <div class="icon">
                <img src="../static/images/service-icon-02.png" alt="">
              </div>
              <div class="down-content">
                <h4>Lorem Ipsum</h4>
                <p>Suspendisse tempor mauris a sem elementum bibendum. Praesent facilisis massa non vestibulum.</p>
              </div>
            </div>

            <div class="item">
              <div class="icon">
                <img src="../static/images/service-icon-03.png" alt="">
              </div>
              <div class="down-content">
                <h4>Lorem Ipsum</h4>
                <p>Suspendisse tempor mauris a sem elementum bibendum. Praesent facilisis massa non vestibulum.</p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>



  <section class="upcoming-meetings" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <h2>Ürünlerimiz</h2>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="categories">
            <h4>Ürün Kategorileri</h4>
            <ul>
              <li><a href="#">Sed tempus enim leo</a></li>
              <li><a href="#">Aenean molestie quis</a></li>
              <li><a href="#">Cras et metus vestibulum</a></li>
              <li><a href="#">Nam et condimentum</a></li>
              <li><a href="#">Phasellus nec sapien</a></li>
            </ul>
            <div class="main-button-red">
              <a href="/products">Bütün Ürünler</a>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="row">

            <div class="col-lg-6">
              <div class="meeting-item">
                <div class="thumb">
                  <div class="price">
                    <span>$fiyat</span>
                  </div>
                  <a href="/product_details"><img src="../static/images/3kaset.png" alt=""></a>
                </div>
                <div class="down-content">
                  <div class="date">
                    <h6>DTM-FOE-3K<span></span></h6>
                  </div>
                  <a href="/product_details">
                    <h4>Fiberoptik Ek Kutusu</h4>
                  </a>
                  <ul>
                    <li><b>Malzeme</b>&nbsp;Polipropilen</li>
                    <li><b>Uzunluk</b>&nbsp;470 mm / Çap 210 mm</li>
                    <li><b>Ağırlık</b>&nbsp;3250 gr</li>
                    <li><b>Port Çapları</b>&nbsp;A portu 30 mm<br>B portu 25 mm</li>
                    <li><b>Oval port çap</b>&nbsp;65 mm / 30 mm</li>
                    <li><b>Kaset Sayısı</b>&nbsp;3 Kaset</li>
                    <li><b>Sabitleme Mekanizma</b>&nbsp;Paslanmaz Çelik</li>
                    <li><b>Ambalaj Ölçüleri</b>&nbsp;427x307x217 mm</li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="meeting-item">
                <div class="thumb">
                  <div class="price">
                    <span>$fiyat</span>
                  </div>
                  <a href="/product_details"><img src="../static/images/6kaset.png" alt=""></a>
                </div>
                <div class="down-content">
                  <div class="date">
                    <h6>DTM-FOE-6K<span></span></h6>
                  </div>
                  <a href="/product_details">
                    <h4>Fiberoptik Ek Kutusu</h4>
                  </a>
                  <ul>
                    <li><b>Malzeme</b>&nbsp;Polipropilen</li>
                    <li><b>Uzunluk</b>&nbsp;410 mm / Çap 210 mm</li>
                    <li><b>Ağırlık</b>&nbsp;1900 gr</li>
                    <li><b>Port Sayısı</b>&nbsp;7 Giriş</li>
                    <li><b>Port Çapları</b>&nbsp;A portu 30 mm<br>B portu 25 mm</li>
                    <li><b>Oval port çap</b>&nbsp;65 mm / 30 mm</li>
                    <li><b>Kaset Sayısı</b>&nbsp;6 Kaset</li>
                    <li><b>Sabitleme Mekanizma</b>&nbsp;Paslanmaz Çelik</li>
                    <li><b>Ambalaj Ölçüleri</b>&nbsp;427x307x217 mm</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="meeting-item">
                <div class="thumb">
                  <div class="price">
                    <span>$fiyat</span>
                  </div>
                  <a href="/product_details"><img src="../static/images/12kaset.png" alt=""></a>
                </div>
                <div class="down-content">
                  <div class="date">
                    <h6>DTM-FOE-12K<span></span></h6>
                  </div>
                  <a href="/product_details">
                    <h4>Fiberoptik Ek Kutusu</h4>
                  </a>
                  <ul>
                    <li><b>Malzeme</b>&nbsp;Polipropilen</li>
                    <li><b>Uzunluk</b>&nbsp;562 mm / Çap 254 mm</li>
                    <li><b>Ağırlık</b>&nbsp;4200 gr</li>
                    <li><b>Port Sayısı</b>&nbsp;7 Giriş</li>
                    <li><b>Port Çapları</b>&nbsp;A portu 30 mm<br>B portu 25 mm</li>
                    <li><b>Oval port çap</b>&nbsp;60 mm / 25 mm</li>
                    <li><b>Kaset Sayısı</b>&nbsp;12 Kaset</li>
                    <li><b>Sabitleme Mekanizma</b>&nbsp;Paslanmaz Çelik</li>
                    <li><b>Ambalaj Ölçüleri</b>&nbsp;550x340x290 mm</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="meeting-item">
                <div class="thumb">
                  <a href="/product_details"><img src="../static/images/binaici-30-50-100.jpg" alt=""></a>
                </div>
                <div class="down-content">
                  <div class="date">
                    <h6>Bütün Ürünler<span></span></h6>
                  </div>
                  <a href="/product_details">
                    <h4>Ürün Katoloğumuz</h4>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="apply-now" id="apply">
    <div class="container">
      <div class="row">
      
        <div class="col-lg-12">
          <div class="accordions is-first-expanded">
            <article class="accordion">
              <div class="accordion-head">
                <span>Görsel Kontrol</span>
                <span class="icon">
                  <i class="icon fa fa-chevron-right"></i>
                </span>
              </div>
              <div class="accordion-body">
                <div class="content">
                  <br><br>
                  <table>
                    <thead>
                      <tr>
                        <th>Test Adı</th>
                        <th>Şartlar</th>
                        <th>Test Yöntemi</th>
                        <th>Sonuç</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>&nbsp;Görsel Kontrol</td>
                        <td>&nbsp;Ürünün Gözle Kontrolü</td>
                        <td>&nbsp;IEC 60512-2-1a</td>
                        <td>&nbsp;Ek kutusu üzerinde çizik, kırık, ezilme vb. olmayacak.</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </article>
            <article class="accordion">
              <div class="accordion-head">
                <span>Su Sızdırmazlık</span>
                <span class="icon">
                  <i class="icon fa fa-chevron-right"></i>
                </span>
              </div>
              <div class="accordion-body">
                <div class="content">
                  <br><br>
                  <table>
                    <thead>
                      <tr>
                        <th>Test Adı</th>
                        <th>Şartlar</th>
                        <th>Test Yöntemi</th>
                        <th>Sonuç</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>&nbsp;Su Sızdırmazlık</td>
                        <td>&nbsp;Test Sıcaklığı: 23±3 °C<br>&nbsp;Derinlik: 6m, Test Süresi: 5 gün</td>
                        <td>&nbsp;IEC 61300-2-32</td>
                        <td>&nbsp;Ek kutusu içerisine su girmeyecek, lazer etiketi kutudan çıkmayacak.</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </article>
            <article class="accordion">
              <div class="accordion-head">
                <span>Titreşim</span>
                <span class="icon">
                  <i class="icon fa fa-chevron-right"></i>
                </span>
              </div>
              <div class="accordion-body">
                <div class="content">
                  <table>
                    <thead>
                      <tr>
                        <th>Test Adı</th>
                        <th>Şartlar</th>
                        <th>Test Yöntemi</th>
                        <th>Sonuç</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>&nbsp;Titreşim</td>
                        <td>&nbsp;Test Sıcaklığı: 23±3 °C<br>&nbsp;Titreşim frekansı: 10-55Hz (sinüsoidal)<br>&nbsp;Genlik: 0.75 mm, Basınç: 40±2 kpa<br>&nbsp;Test süresi: Her üç yönde 2şer saat<br>&nbsp;Minimum 8 fib. (1550 nm. dalga boyunda)</td>
                        <td>&nbsp;IEC 60068-2-6</td>
                        <td>&nbsp;Su sızdırmayacak*<br>Çatlama, kırılma olmayacak<br>&nbsp;Maksimum kayıp değişimi &lt;0,1dB olacaktır.</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </article>
            <article class="accordion last-accordion">
              <div class="accordion-head">
                <span>Isı Değişimi</span>
                <span class="icon">
                  <i class="icon fa fa-chevron-right"></i>
                </span>
              </div>
              <div class="accordion-body">
                <div class="content">
                  <table>
                    <thead>
                      <tr>
                        <th>Test Adı</th>
                        <th>Şartlar</th>
                        <th>Test Yöntemi</th>
                        <th>Sonuç</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>&nbsp;Isı Değişimi</td>
                        <td>&nbsp;-40±2 °C&lt;&nbsp;&nbsp;&nbsp;&lt;60±2 °C<br>&nbsp;Geçiş Süresi: 1 saat, Periyot: 20<br>&nbsp;Bekleme süresi 2,5 saat<br>&nbsp;Basınç: 40±2kpa</td>
                        <td>&nbsp;IEC 61300-2-22<br>&nbsp;IEC 60068-2-14</td>
                        <td>&nbsp;Su sızdırmayacak*<br>Çatlama, kırılma olmayacak; lazer etiketi kutudan çıkmayacak.<br>&nbsp;Maksimum kayıp değişimi &lt;0,1dB olacaktır.</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </article>
            <article class="accordion">
              <div class="accordion-head">
                <span>Bükülme</span>
                <span class="icon">
                  <i class="icon fa fa-chevron-right"></i>
                </span>
              </div>
              <div class="accordion-body">
                <div class="content">
                  <table>
                    <thead>
                      <tr>
                        <th>Test Adı</th>
                        <th>Şartlar</th>
                        <th>Test Yöntemi</th>
                        <th>Sonuç</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>&nbsp;Bükülme</td>
                        <td>&nbsp;Test Sıcaklığı: 23±3 °C<br>&nbsp;Yük: 500N; 30°, Basınç: 40±2 kpa<br>&nbsp;Kuvvet Uygulama Noktası:10xD<br>&nbsp;Periyot: 5, (D: kablo çapı)</td>
                        <td>&nbsp;IEC 61300-2-37</td>
                        <td>&nbsp;Su sızdırmayacak*<br>Kablo yerinden oynamayacaktır.</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </article>
            <article class="accordion">
              <div class="accordion-head">
                <span>Burulma</span>
                <span class="icon">
                  <i class="icon fa fa-chevron-right"></i>
                </span>
              </div>
              <div class="accordion-body">
                <div class="content">
                  <table>
                    <thead>
                      <tr>
                        <th>Test Adı</th>
                        <th>Şartlar</th>
                        <th>Test Yöntemi</th>
                        <th>Sonuç</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>&nbsp;Burulma</td>
                        <td>&nbsp;Test Sıcaklığı: 23±3 °C<br>&nbsp;Basınç: 40±2 kpa, Yük: 90 Nxm; 90° ile<br>&nbsp;Kuvvet Uygulama Noktası:10xD<br>&nbsp;Periyot: 2, (her kabloya)</td>
                        <td>&nbsp;IEC 60068-2-17</td>
                        <td>&nbsp;Su sızdırmayacak*<br>Kablo yerinden oynamayacaktır.</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="our-courses" id="courses">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <h2>Referanslarımız</h2>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="owl-courses-item owl-carousel">
            <div class="item">
              <img src="../static/images/course-01.jpg" alt="">
              <div class="down-content">
                <h4>Firma 1</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="../static/images/course-02.jpg" alt="">
              <div class="down-content">
                <h4>Firma 2</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="../static/images/course-03.jpg" alt="">
              <div class="down-content">
                <h4>Firma 3</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="../static/images/course-04.jpg" alt="">
              <div class="down-content">
                <h4>Firma 4</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="../static/images/course-01.jpg" alt="">
              <div class="down-content">
                <h4>Firma 5</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="../static/images/course-02.jpg" alt="">
              <div class="down-content">
                <h4>Firma 6</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="../static/images/course-03.jpg" alt="">
              <div class="down-content">
                <h4>Firma 7</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="../static/images/course-04.jpg" alt="">
              <div class="down-content">
                <h4>Firma 8</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="../static/images/course-01.jpg" alt="">
              <div class="down-content">
                <h4>Firma 9</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="../static/images/course-02.jpg" alt="">
              <div class="down-content">
                <h4>Firma 10</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="../static/images/course-03.jpg" alt="">
              <div class="down-content">
                <h4>Firma 11</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="../static/images/course-04.jpg" alt="">
              <div class="down-content">
                <h4>Firma 12</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="our-facts">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="row">
            <div class="col-lg-12">
              <h2>DTM Telekom</h2>
            </div>
            <div class="col-lg-6">
              <div class="row">
                <div class="col-12">
                  <div class="count-area-content percentage">
                    <div class="count-digit">94</div>
                    <div class="count-title">Lorem</div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="count-area-content percentage">
                    <div class="count-digit">100</div>
                    <div class="count-title">Lorem</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="row">
                <div class="col-12">
                  <div class="count-area-content new-students">
                    <div class="count-digit">2345</div>
                    <div class="count-title">Lorem</div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="count-area-content percentage">
                    <div class="count-digit">32</div>
                    <div class="count-title">Lorem</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 align-self-center">
          <div class="video">
            <a href="" target="_blank"><img src="../static/images/play-icon.png" alt=""></a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="contact-us" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 align-self-center">
          <div class="row">
            <div class="col-lg-12">
              <form id="contact" action="" method="post">
                <div class="row">
                  <div class="col-lg-12">
                    <h2>Bizimle İletişime Geçin</h2>
                  </div>
                  <div class="col-lg-4">
                    <fieldset>
                      <input name="name" type="text" id="name" placeholder="Adınız" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-4">
                    <fieldset>
                      <input name="email" type="text" id="email" pattern="[^ @]*@[^ @]*" placeholder="Mail Adresiniz"
                        required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-4">
                    <fieldset>
                      <input name="subject" type="text" id="subject" placeholder="Konu" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <textarea name="message" type="text" class="form-control" id="message" placeholder="Mesajınız"
                        required=""></textarea>
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <button type="submit" id="form-submit" class="button">Mesaj Yolla</button>
                    </fieldset>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="right-info">
            <ul>
              <li>
                <h6>Telefon</h6>
                <span>+90 (216) 429 51 74</span>
              </li>
              <li>
                <h6>Fax</h6>
                <span>+90 (216) 429 47 88</span>
              </li>
              <li>
                <h6>Email Adresimiz</h6>
                <span>onur.bingol@dtmbusbar.com</span>
              </li>
              <li>
                <h6>Adresimiz</h6>
                <span>DTM Elektroteknik A.S Çatalmeşe Mah. Sultansuyu Cad. No: 129; 81270 Çekmeköy-İstanbul Türkiye
                </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 align-self-center">
      <div class="row">
        <div class="col-lg-12">
          <div class="item">
            <h3>Lorem Ipsum</h3>
            <p>Lorem ipsum dolor sit amet consectetur. Ullam aperiam iste velit illo quisquam magnam, ipsam
              provident quo dolor aliquid! Minima repudiandae fugiat ut!</p>
            <div class="main-button-red">
              <div class="scroll-to-section"><a href="">Lorem Ipsum</a></div>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="item">
            <h3>Lorem Ipsum</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat voluptas odit quibusdam eos? Vitae,
              harum tempora omnis commodi sunt. Sequi, rerum! Eius!</p>
            <div class="main-button-yellow">
              <div class="scroll-to-section"><a href="">Lorem Ipsum</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <p>Copyright © 2022 DTM Elektroteknik A.Ş.</p>
    </div>
  </section>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
  <script src="../static/vendor/jquery/jquery.min.js"></script>
  <script src="../static/js/bootstrap.bundle.min.js"></script>

  <script src="../static/js/isotope.min.js"></script>
  <script src="../static/js/owl-carousel.js"></script>
  <script src="../static/js/lightbox.js"></script>
  <script src="../static/js/tabs.js"></script>
  <script src="../static/js/video.js"></script>
  <script src="../static/js/slick-slider.js"></script>
  <script src="../static/js/custom.js"></script>
  <script>
    //according to loftblog tut
    $('.nav li:first').addClass('active');

    var showSection = function showSection(section, isAnimate) {
      var
        direction = section.replace(/#/, ''),
        reqSection = $('.section').filter('[data-section="' + direction + '"]'),
        reqSectionPos = reqSection.offset().top - 0;

      if (isAnimate) {
        $('body, html').animate({
          scrollTop: reqSectionPos
        },
          800);
      } else {
        $('body, html').scrollTop(reqSectionPos);
      }

    };

    var checkSection = function checkSection() {
      $('.section').each(function () {
        var
          $this = $(this),
          topEdge = $this.offset().top - 80,
          bottomEdge = topEdge + $this.height(),
          wScroll = $(window).scrollTop();
        if (topEdge < wScroll && bottomEdge > wScroll) {
          var
            currentId = $this.data('section'),
            reqLink = $('a').filter('[href*=\\#' + currentId + ']');
          reqLink.closest('li').addClass('active').
            siblings().removeClass('active');
        }
      });
    };

    $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
      e.preventDefault();
      showSection($(this).attr('href'), true);
    });

    $(window).scroll(function () {
      checkSection();
    });
  </script>
</body>

</body>

</html>